<h1>Welcome <%= @merchant.name %></h1>
<%= render partial: "shared/nav" %>

<%= link_to "Create a Discount", "/merchants/#{@merchant.id}/bulk_discounts/new" %> <br>

<% @merchant.bulk_discounts.each do |discount| %>
  <%= link_to "#{discount.name}", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}" %> <br>
  <%= button_to "Delete", merchant_bulk_discount_path(@merchant, discount), method: :delete %>
  <p>Quantity Threshold: <%= discount.quantity %></p>
  <p>Percentage Off: <%= number_to_percentage(discount.percentage, precision: 1)%></p>
<% end %>
